<footer class="bg-dark text-center p-4 ">
    <H1 class="h4">Lorem ipsum dolor sit, amet consectetur adipisi</H1>
    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nesciunt sint suscipit ut debitis beatae expedita repudiandae autem quasi quisquam nam, rem repellat? Dolores cupiditate totam labore fugit quidem impedit!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga nesciunt sint suscipit ut debitis beatae expedita repudiandae autem quasi quisquam nam, rem repellat? Dolores cupiditate totam labore fugit quidem impedit!
    </P> 

</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>